.text-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}
.autostock-link {
  text-decoration: none;
  color: black;
}
.navbar {
  background-color: #059a76;
  margin-bottom: 25px;
}
.algoAccordion {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: "transparent";
  border: none;
}
.drawerItem {
  color: black;
}
.drawerItem:hover {
  color: #059a76;
}
