.text-link {
    text-decoration: none;
    color:white;
    font-weight: 600;
    font-size: 1.2rem;
}
.autostock-link{
    text-decoration: none;
    color:black;
}
.navbar{
    background-color: #059a76;
    margin-bottom: 25px;
}
