.landingPageRoot{
    padding-top: 250px;
    margin-top:0px;
    /* background-image: url(../../images/wance-paleri.jpg);
    background-size: cover; */
    height:100vh;
    padding-left: 100px;
    align-items: center;   

}

.appbar{
    background: none;
}
.mainbox{
    background: none;
    align-content: center;

}
.btn_getStarted{
    opacity: 85%;
    width: 200px;
    height: 75px;
    text-transform: none;

}

.btn_signUp{
    opacity: 75%;
    background-color: white;
    text-transform: none;

}
.stockTickName{
    color:#059a76;
}
.btn_viewBattles{
    background-color:#059a76;
    text-transform: none;
}
.table_header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.table_data{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.table_links{
    color:#2279DB;
}
.table_links::after{
    color:#2279DB;
}
.table_links:hover{
    color:black;
}
.table_row:hover{
    background-color: #d0f3eb;
}
